// COLORS
$color-gray-light: #777;
$color-gray-medium: #272A33;
$color-gray-dark: #14161b;

$color-highlights-yellow: #FED731;

$color-black: #000;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$vertical-grid-gap: 8rem;
$horizontal-grid-gap: 6rem;
